# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.iss

# Build and distribution
build/
dist/
*.spec

# OS & editor files
.DS_Store
Thumbs.db
desktop.ini

# VS Code / JetBrains IDE folders (optional)
.vscode/
.idea/
